@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  /*reset*/
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  box-sizing: border-box; }

.Cabezera {
  background: #14bd1d;
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  border-radius: 8px; }
  .Cabezera div .logo {
    width: 10%; }
  .Cabezera .navegacion {
    background-color: #14bd1d !important;
    display: flex;
    justify-content: center; }

.body {
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh; }

.imagenesIndex .titulo {
  margin: auto;
  display: flex;
  width: 50%;
  justify-content: center; }
  .imagenesIndex .titulo p {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black; }

.imagenesIndex .ulPersonajes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px;
  margin-top: 3px; }
  .imagenesIndex .ulPersonajes li {
    list-style: none;
    font-size: 1.2em; }

@media (max-width: 1100px) {
  .ulPersonajes {
    flex-wrap: wrap; } }

.ContenidoPrincipal {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: left;
  padding: 10px; }
  .ContenidoPrincipal .titulosarcos {
    display: flex;
    text-decoration-line: underline;
    padding: auto; }
  .ContenidoPrincipal .arcos {
    padding: 3px;
    margin: 0px 0px 16px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #0a0000; }
    .ContenidoPrincipal .arcos div .resumenarcos {
      border-radius: 4px;
      color: black; }

.ContenidoPrincipal {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: left;
  padding: 10px; }
  .ContenidoPrincipal .contenedorContacto {
    height: 100vh; }
    .ContenidoPrincipal .contenedorContacto section .divformula {
      display: flex;
      align-items: center;
      justify-content: center; }
      .ContenidoPrincipal .contenedorContacto section .divformula .formularioContacto div {
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: center;
        margin: 5px; }
        .ContenidoPrincipal .contenedorContacto section .divformula .formularioContacto div input {
          width: 100%;
          border: 1px solid #9ec95d;
          border-radius: 5px;
          margin-top: 5px;
          margin-bottom: 5px;
          text-align: center; }
        .ContenidoPrincipal .contenedorContacto section .divformula .formularioContacto div textarea {
          width: 50%;
          height: 100px;
          border: 1px solid #9ec95d;
          border-radius: 5px; }

.ContenidoPrincipal .contenedorContacto section .divformula .formularioContacto div .botonInput {
  width: 25%; }

.ContenidoPrincipal {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: left;
  padding: 10px; }
  .ContenidoPrincipal div .evento {
    border: 2px solid #535353;
    margin: 5px; }

.ContenidoPrincipal {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: left;
  padding: 10px; }
  .ContenidoPrincipal div .titulo {
    text-decoration-line: underline;
    text-align: center; }
  .ContenidoPrincipal section .Contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .ContenidoPrincipal section .Contenedor .Figuras {
      background-color: white;
      margin: 5px;
      padding: 20px;
      width: 30%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center; }
      .ContenidoPrincipal section .Contenedor .Figuras h3 {
        text-align: center;
        height: 40px; }
      .ContenidoPrincipal section .Contenedor .Figuras .imgcard {
        width: 100%; }
      .ContenidoPrincipal section .Contenedor .Figuras .Boton {
        width: 100%;
        background: #14bd1d;
        color: black;
        margin: auto; }

.Piedepagina #footerBox {
  background-color: #14bd1d;
  width: 100vw;
  display: block; }
  .Piedepagina #footerBox #iconsFooter {
    display: flex;
    justify-content: center; }
    .Piedepagina #footerBox #iconsFooter i {
      font-size: 25px;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px; }

.Piedepagina #helpList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
  padding: 5px 15% 0 15%;
  margin-bottom: 0 !important; }
  .Piedepagina #helpList .itemFooter {
    padding: 2px; }

@media (max-width: 1310px) {
  .Figuras {
    width: 400px; } }
