.ContenidoPrincipal{ 
    @include contenidoprincipal;
        section{
          .lugar{
          display: flex;
          justify-content: space-evenly;
        div{ 
          .evento{
            border: solid 2px rgb(37, 37, 37);   
        }
      }
    }
  }
} 