.Cabezera {
    background: $color-principal;
    text-align: center;
    position: sticky;
    top:0px;
    z-index: 10;
    border-radius: 8px;
    div {
        .logo{
            width: 10%;
        }  
    }
    .navegacion{
      background-color: $color-principal!important;
      display: flex;
      justify-content: center; 
   }
}