@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "variables";
@import "reset";
@import "header";
@import "body";
@import "maps";
@import "Mixins";

a{
    color: rgb(46, 38, 38);
}
a:hover {
    color: black!important;
}

.ContenidoPrincipal{
    @include contenidoprincipal;
    div{
        .titulo{
            text-decoration-line:underline;
            text-align: center;
        }
    }
    section{
        .Contenedor{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .Figuras{
                background-color: white;
                margin: map-get($tamaño , 5px );
                padding: 20px;
                width: 30%;
                border-radius: map-get($tamaño , 5px );
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    text-align: center;
                    height: 40px;
                }              
                .imgcard{
                    width: 100%;
                }
                .Boton{
                    width: 350px;
                    background: $color-principal;
                    color: black;
                    margin: auto;
                }
            }
        }
    }

}
.ContenidoPrincipal{
    @include contenidoprincipal;
        .titulosarcos{
            display: flex;
            text-decoration-line: underline;
            padding: auto;
       }
       .arcos{
        padding: map-get($tamaño, 3px );
        margin: 0px 0px 16px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(10, 0, 0);
        div{
            .resumenarcos{
                border-radius: map-get($tamaño, 4px );
                color: rgb(0, 0, 0);
           }
        }
    }
    
}
.ContenidoPrincipal{
    @include contenidoprincipal;
    .contenedorContacto{
    height: 100vh;
    section{
        .divformula{
            .formularioContacto div{
                width: 80%;
                margin: auto;
                input{
                    width: 50%;
                    border: 1px solid rgb(158, 201, 93);
                    border-radius: map-get($tamaño , 5px );
                    margin-top: map-get($tamaño , 5px );
                    margin-bottom:map-get($tamaño , 5px ) ;
                }
                textarea{
                    width: 50%;
                    height: 100px;
                    border: 1px solid rgb(158, 201, 93);
                    border-radius: map-get($tamaño , 5px );
                }
              }
            }
        }  
    }
}
.ContenidoPrincipal{ 
    @include contenidoprincipal;
    div{
    .evento{
        border: 2px solid rgb(83, 83, 83);
        margin: map-get($tamaño , 5px );
    }
  }
}
// REVISAR
.Contenedor .Figuras img{
                 border: 2px solid black;
                 width: 350px;
                 margin: auto;
}
.ulpersonajes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.PersonajesPrincipales{
    display: $displayinblo;
    margin: map-get($tamaño , 5px );
    padding: map-get($tamaño , 5px );
    border: 2px solid rgb(46, 45, 45);
    background-color: white;
    border-radius: 7px;
}
a

//revisar

/*--------- footer-------- */

.pieDePaginaAdaptable{
    background-color:$color-principal;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    .icono{
        color: rgb(14, 13, 13);
        font-size: 1.5rem;
        margin: map-get($tamaño , 5px );
    }
}
/*--------- footer-------- */



@media (max-width: 1310px) {
    .Figuras{
        width: 400px;
    }
}